h6 {
  font-size: 0.9em !important;
  color: #636363 !important;
}

.app-wrapper {
  border-radius: 5px;
  display: flex;
  height: 30rem;
  margin: 3rem auto 0;
  max-width: 50rem;
  overflow-y: visible;
  position: relative;
}

.fade-wrapper {
  opacity: 0;
  transition: opacity .15s ease-out;
  transition-delay: .25s;
}

.form__wrapper {
  border-radius: 5px;
  position: absolute;
}

.form__wrapper.active > .fade-wrapper {
  opacity: 1;
}

.form__wrapper.active {
  z-index: 20;
}

.form-title {
  font-family: 'Oswald', Roboto;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.form-title-login {
  color: #424242;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.form__wrapper {
  min-height: 25vh;
  padding: 3rem 2rem;
  transition: none;
  width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__wrapper a,
.form__wrapper a:hover {
  color: #116c51 !important;
}

.form__wrapper:not(.active):hover {
  background: #fff;
}

.form__wrapper.transition-in {
  animation: 0.5s right-transition-in;
}

.form__wrapper.transition-out {
  animation: 0.5s right-transition-out;
}

.form__wrapper.active {
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.form__wrapper:not(.active) {
  background: #f5f5f5;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.form-control:focus {
  border-color: rgb(136, 136, 136) !important;
  box-shadow: none !important;
}

.form-label {
  margin-top: 10px;
  font-size: 13px;
  color: #414669;
  margin-bottom: .25rem;
}

::-webkit-input-placeholder {
  color: rgb(146, 146, 146) !important;
  font-size: 14px;
}

::-moz-placeholder {
  color: rgb(146, 146, 146) !important;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: rgb(146, 146, 146) !important;
  font-size: 14px;
}

:-moz-placeholder {
  color:rgb(146, 146, 146) !important;
  font-size: 14px;
}

.btn {
  font-size: 14px !important;
  outline: 0 !important;
}

.btn-half-width {
  width: 49%;
}

.card {
  border: 2px solid rgba(0,0,0,.125) !important;
}

.card:hover {
  border: 2px solid rgb(141, 141, 141) !important;
}

.btn-outline-success {
  color: #FFF !important;
  border-color: #FFF !important;
}

.box__container {
  align-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 3rem;
  margin: 1em 0;
  transition: all .15s ease-out;
}

.box__container:hover {
  border-color: #116c51;
}

.box__container.box--selected {
  background: #116c51;
  border-color: #116c51 !important;
  color: #fff;
}

.box__container .box__title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@keyframes left-transition-in {
  from {
    z-index: 0;
    top: 2rem;
  }
  45% {
    left: -20%;
    z-index: 9;
  }
  55% {
    left: -20%;
    z-index: 11;
  }
  to {
    left: 100px;
    z-index: 20;
    top: 0;
  }
}
@keyframes right-transition-in {
  from {
    z-index: 0;
    right: -20%;
  }
  45% {
    right: -10%;
    z-index: 9;
  }
  55% {
    right: -20%;
    z-index: 11;
  }
  to {
    right: 0;
    z-index: 20;
  }
}
@keyframes left-transition-out {
  from {
    z-index: 20;
    top: 0;
  }
  45% {
    left: -20%;
    z-index: 11;
  }
  55% {
    left: -20%;
    z-index: 9;
  }
  to {
    left: 100px;
    z-index: 0;
    top: 2rem;
  }
}
@keyframes right-transition-out {
  from {
    z-index: 20;
    top: 0;
  }
  45% {
    right: -20%;
    z-index: 11;
  }
  55% {
    right: -20%;
    z-index: 9;
  }
  to {
    right: 100px;
    z-index: 0;
    top: 2rem;
  }
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: .6em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px 5px;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 10%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect {
  background: rgb(255, 255, 255) url('../assets/facebook.svg') no-repeat scroll 5px 0px / 20px 40px padding-box border-box;
  border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
  text-decoration: none !important;
  border-color: rgb(60, 90, 154);
  background: rgb(60, 90, 154) url('../assets/facebook-white.svg') no-repeat scroll 5px 0px / 20px 40px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#facebook-connect span {
  box-sizing: border-box;
  color: rgb(60, 90, 154);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect {
  background: rgb(255, 255, 255) url('../assets/google-plus.png') no-repeat scroll 5px 0px / 30px 30px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
  background-position-y: center;
}

#google-connect:hover {
  text-decoration: none !important;
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('../assets/google-plus-white.png') no-repeat scroll 5px 0px / 30px 30px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  background-position-y: center;
}

#google-connect span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.or {
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dee3e4;
	position: relative;
	margin: 20px 0;
}

.or:before {
	content: 'or';
	width: 40px;
	height: 18px;
	position: absolute;
	top: -5px;
	right: calc(50% - 20px);
	background-color: #fff;
	text-align: center;
	line-height: 10px;
	color: #555
}

.section-step label {
  display: none;
}

.radio-container label,
.note-container label {
  display: inline-block !important;
  margin-right: 3em;
  font-size: .9em;
}

.section-step .custom-select {
  color: #9a9a9a;
  font-size: .9em;
}

.sell-page svg {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.step-tittle {
  background: #FFF;
  padding: 10px 10px 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0;
  border: 1px solid #DDD;
  border-radius: 20px;
}

.step-content {
  padding: 2px 20px 10px;
  background: #f7f7f7;
  margin-bottom: 2em;
  border-radius: 5px;
}

.step-span  {
  font-size: .9em;
}

.step-span span {
  vertical-align: middle;
}

.number {
  background: #464645;
  padding: 2px 7px;
  margin-right: 5px;
  color: #FFF;
  border-radius: 50%;
}

.btn-primary {
  color: #fff;
  border-color: #5CBE7F !important;
  background-color: #5CBE7F !important;
  min-width: 140px;
  text-align: center;
}

.rc-slider-track {
  background-color: #0D6D52 !important;
}

.rc-slider-dot-active {
  border-color: #0D6D52 !important;
}

.rc-slider-handle {
  border: solid 2px #0D6D52 !important;
}

.alert-vin {
  color: #0d6d51;
  background-color: #eaefeb;
  border-color: #d7ded9;
}

.custom-link {
  color: #0d6d51;
  font-weight: bold;
  border-bottom: 1px solid;
}

.custom-link:hover {
  color: #05c48e;
  text-decoration: none !important;
}

.active {
  background: #0d6d51;
}

.step-text-active {
  color: #0d6d51;
  font-weight: 500;
}